snippet if
	if ${1:condition} then 
	  ${2:result}
	end

snippet ife If/Else
	if ${1:condition} then
	  ${2:result}
	else 
	  ${3:secondresult}
	end

snippet ife If/Elseif
	if ${1:condition} then 
	  ${2:result}
	else
	  ${3:secondresult}
	end

snippet func
	func ${1:name}(${2:params})
	  ${3:content}
	end

snippet for
	for ${1:sub} in ${2:container} do
	  ${3:stuff}
	end

snippet for,
	for ${1:min}, ${2:max} do
	  ${3:stuff}
	end
